body {
    font-family: sans-serif;
    font-weight: lighter;
}

header {
    color: blueviolet;
    font-weight: bold;
    text-align: center;
}

footer {
    text-decoration: line-through
}

p {
    letter-spacing: 2px;
    text-decoration: underline;
    text-align: left;
    text-transform: capitalize;
}

input {
    font-size: 32px;
    font-weight: bold;
}

button {
    font-size: 32px;
    color: white;
    background-color: black;
}